<div class="mt-5" style="background-color: #FCF8F3; overflow: hidden;">

  <div class="row justify-content-center">

    <div class="col-md-4 text-center my-auto ">
      <h1 class="display-4">50+ Beautiful rooms inspiration</h1>
      <p class="lead">Our designer already made a lot of beautiful prototype of rooms that inspire you.</p>
      <button class="btn btn-primary btn-lg">Explore More</button>
    </div>

    <div class="col-md-3">
      <img src="/assets/products/room.png" class="img-fluid" alt="Room Image">

    </div>

    <div class="col-md-5 ">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="/assets/rectangle.png" alt="First slide">
          </div>
          <div class="carousel-caption">
            <h3>Beautiful Living Room</h3>
            <p>Explore our living room designs.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="/assets/rectangle.png" alt="Second slide">
          </div>
          <div class="carousel-caption">
            <h3>Modern Kitchen</h3>
            <p>Check out our modern kitchen designs.</p>
          </div>
        </ng-template>

      </ngb-carousel>
    </div>
  </div>
</div>