.card {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .pagination .page-link {
    color: black; /* Change text color */
    cursor: pointer;
    margin: 4px;
    background-color: #F9F1E7;
  }
  
  
  
  .pagination .page-item.active .page-link {
    background-color: #d4a357; /* Change background color for active page */
    border-color: #d4a357; /* Change border color for active page */
    color: white; /* Change text color for active page */
  }
  