<!-- <footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Funiro.</h5>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Shop</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Payment Options</a></li>
            <li><a href="#" class="text-white">Returns</a></li>
            <li><a href="#" class="text-white">Privacy Policies</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Newsletter</h5>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email">
            </div>
            <button type="submit" class="btn btn-primary mt-2">SUBSCRIBE</button>
          </form>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <p>400 University Drive Suite 200 Coral Gables, FL 33134 USA</p>
          <p>© 2023 Funiro. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
   -->


   <footer class="bg-white text-dark pt-4 mt-4 border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Funiro.</h5>
          <p>400 University Drive Suite 200<br>Coral Gables, FL 33134 USA</p>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark ">Home</a></li>
            <li><a href="#" class="text-dark">Shop</a></li>
            <li><a href="#" class="text-dark">About</a></li>
            <li><a href="#" class="text-dark">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-dark">Payment Options</a></li>
            <li><a href="#" class="text-dark">Returns</a></li>
            <li><a href="#" class="text-dark">Privacy Policies</a></li>
          </ul>
        </div>
        <div class="col-md-3 ">
          <h5>Newsletter</h5>
          <form class="d-flex">
            <div class="form-group ">
              <input type="email" class="form-control border-bottom " placeholder="Enter Your Email Address">
            </div>
            <div>
                <button type="submit" class="btn  mt-2">SUBSCRIBE</button>
            </div>
           
          </form>
        </div>
      </div>
      <div class="row mt-4  border-top ">
        <div class="col-md-12 my-4 ">
          <p>© 2023 Funiro. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  